.card {
  background-color: var(--color-ui);
  padding: 1.5em;
  box-shadow:
    0 0.1em 0.3em rgb(0 0 0 / 4%),
    0 0.05em 0.2em rgb(0 0 0 / 3%);
}

.borderRadius {
  border-radius: var(--border-radius-card);
}

.borderRadiusTop {
  border-radius: var(--border-radius-card) var(--border-radius-card) 0 0;
}

.borderRadiusBottom {
  border-radius: 0 0 var(--border-radius-card) var(--border-radius-card);
}

.textSecondary {
  font-size: 0.7rem;
  color: var(--color-text-secondary);
}

.formError {
  font-size: 0.7rem;
  height: 1em;
  color: var(--color-error);
}

.rotated180 {
  transform: rotate(180deg);
}

.inlineFields {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: var(--spacing-ui);
}

.inlineFields div {
  flex: 1;
}
