.previewContainer {
  width: 100%;
}

.preview {
  width: 794px; /* A4 width at 96 DPI */
  height: 1123px; /* A4 height at 96 DPI */
  background-color: #fff;
  overflow: hidden;
  position: relative;
  font-size: 12pt;
  transform-origin: top left;
}

.personal {
  background-color: var(--color-accent);
  color: #fff;
  padding: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.personal h1 {
  font-size: 1.75em;
}

.contact {
  display: flex;
  gap: 1em;
  justify-content: center;
  flex-wrap: wrap;
  text-wrap: nowrap;
}

.contact > li {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.content {
  padding: 2em 4em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.sectionTitle {
  text-align: center;
  padding: 0.5em;
  color: var(--color-accent);
  font-weight: 700;
  background-color: #f5e6fa;
}

.sectionItem {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.sectionItem > div {
  display: flex;
  justify-content: space-between;
}

.itemHeader div:nth-child(2) {
  text-align: right;
}

.itemDate {
  color: var(--color-accent);
}

@media print {
  .preview {
    width: 100% !important;
    height: 100% !important;
    transform: none !important;
  }
}
