.formManager {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-layout);
}

.formManager div {
  cursor: pointer;
}

.personalData {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-ui);
}

.personalData ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.personalData li {
  display: flex;
  align-items: center;
  gap: 0.7em;
}
