.formField {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.input {
  font-size: 0.8rem;
  border-radius: 2px;
  background-color: var(--color-form-elements);
  padding: 0.4em 0.6em;
}

.input:invalid:not(:focus) {
  outline: 2px solid var(--color-error);
}