.app {
  flex: 1;
  max-width: 1800px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-layout);
}

.controls-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-layout);
}

.header-wrapper {
  position: sticky;
  top: 0;
}

.forms-wrapper,
.preview-wrapper
{
  padding: 0 var(--spacing-layout);
}

.preview-wrapper {
  padding-bottom: var(--spacing-layout);
}


@media only screen and (width >= 800px) {
  .app {
    flex-direction: row;
    height: 100dvh;
    padding: 0 var(--spacing-layout);
  }

  .column {
    overflow-y: auto;
    min-height: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .column::-webkit-scrollbar {
    display: none;
  }

  .header-wrapper {
    padding-top: var(--spacing-layout);
    background-color: var(--color-bg);
  }

  .forms-wrapper {
    padding: 0;
  }

  .preview-wrapper {
    padding: var(--spacing-layout) 0;
    flex-basis: 500px;
    flex-grow: 1.5;
  }

  .controls-wrapper {
    padding-bottom: var(--spacing-layout);
    flex-basis: 400px;
    flex-grow: 1;
  }
}